/*STYLE FOR THE WEBSITE IN DESKTOP*/

/*PRIMARY CHARACTERISTICS OF THE WEBSITE*/

/*Setting the background color of the whole website*/
/**/
html{
  background-color: #FCF7ED;
}

#header_home{
  background-color: #F2D9C3;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  padding-left: 3px;
  padding-right: 8px;
  flex-wrap: wrap;
  border: 1px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

#header_logo_div{
    justify-content: center;
    flex-grow: 5;
}

#logo_ontrip{
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 3px;
  justify-content: center;
  align-items: center
}

#links_header_section{
    text-align: right;
    align-items: center;
    align-self: center;
    flex-grow: 50;
}

.links_header{
    all: unset;
    color: #3e3e3e;
    margin-left: 5px;
    margin-right: 25px;
    font-weight: bold;
    font-family: "Segoe UI";
}

.links_header:hover{
    text-decoration: underline;
    cursor: pointer;
    transition-duration: 1s;
}

.fa-ellipsis-v{
    align-self: center;
    margin: 20px;
    color: #3e3e3e;
    cursor: pointer;
}

#search_div{
    align-self: center;
    flex-grow: 3;
    margin-left: 50px;
}

#search_input{
    all: unset;
    background-color: rgba(255, 255, 255, 0.81);
    height: 10px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
}
