/*STYLE FOR THE WEBSITE IN DESKTOP*/

/*PRIMARY CHARACTERISTICS OF THE WEBSITE*/

/*Setting the background color of the whole website*/
/**/
html{
  background-color: #FCF7ED;
}

/* The follwing section will define the styling for the cover page */
#page_cover{
  position:fixed;
  background: url("../images/coverMountain.jpeg") no-repeat;
  background-size: cover;
  width:100%;
  height: 100%;
  top:0;
  left:0;
}

#cover_logo{
  margin: 10px;
}

#cover_logo img{
  max-width: 80px;
  margin:auto;
}

#page_cover_text {
  text-align:center;
  margin:30px 100px 80px 430px;
}

#page_cover_text h1{
  align-content: center;
  font-family: "Raleway";
  font-style: italic;
  font-weight: normal;
  color: rgb(52, 52, 52);
  font-size: 50px;
}

#begin_btn{
  margin-top: 190px;
  position: relative;

}

#begin_box {
  margin-right: 50px;
  float:right;
  position: absolute;
}

/* COVER PAGE SECTION ENDS HERE */

/* HOME PAGE SECTION */

body{
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

/* Header style */
header{
  background-color: #F2D9C3;
  width: 100%;
  display: flex;
  padding-left: 3px;
  padding-right: 8px;
  flex-wrap: wrap;
  border: 1px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

/* Style for the logo */
#header_logo_div{
    justify-content: center;
    flex-grow: 4;
}

.logo_ontrip{
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 3px;
  justify-content: center;
  align-items: center
}

/* Style for the links of the header */
#links_header_section{
    text-align: right;
    align-items: center;
    align-self: center;
    flex-grow: 55;
}

#link_Home{
    display: none;
}

#link_MyProfile{
    display: none;
}

.links_header{
    all: unset;
    color: #3e3e3e;
    margin-left: 5px;
    margin-right: 25px;
    font-weight: bold;
    font-family: "Segoe UI";
}

.links_header:hover{
    text-decoration: underline;
    cursor: pointer;
    transition-duration: 1s;
}

/* Menu icon */
.fa-ellipsis-v{
    align-self: center;
    margin: 20px;
    color: #3e3e3e;
    cursor: pointer;
}

/* Search bar style */
#search_div{
    align-self: center;
    flex-grow: 3;
    margin-left: 5%;
}

.fa-search{
    cursor: pointer;
}

#search_input{
    all: unset;
    background-color: rgba(255, 255, 255, 0.81);
    height: 10px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
}

/* Filters section style*/
#filter_section{
  width: 100%;
  height: 10%;
  display: none;
  padding-left: 3px;
  padding-right: 8px;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid rgba(242, 217, 195, 0.3);
  box-sizing: border-box;
  background-color: rgba(242, 217, 195, 0.5);
}

/* Filter budget */
#range_title{
    margin-right: 10px;
    margin-left: 20px;
}

#range_bar{
    display:flex;
    flex-direction: column;
}

input[type=range]{
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 250px;
    height: 7px;
    background: rgba(200, 187, 174, 0.69);
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: rgb(153, 136, 121);
    margin-top: -3px;
}


#range{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 25px;
    text-align: center;
    align-items: baseline;
}

#place{
    all:unset;
    background: rgba(255, 255, 255, 0.8);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 25px;
    width: 13%;
}

#preferences{
    padding-right: 5px;
    padding-left: 10px;
    text-align: center;
    border: none;
    align-items: center;
}

#submit_btn{
    border-color: rgb(153, 136, 121);
    color: rgb(153, 136, 121);
    font-weight: bold;
    border-style: solid;
    height: 35px;
    align-self: center;
    padding-left: 20px;
    padding-right: 25px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

#submit_btn:hover{
    background: rgb(153, 136, 121);
    color: white;
}

.filter_input{
    background: rgba(255, 255, 255, 0.8);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

/*Image gallery style */

#home_images{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery {
    margin: 15px;
    position: relative;
    width: 16%;
    justify-content: center;
    align-items: center;
}

.material-icons-outlined{
    cursor: pointer;
    position: absolute;
    right: 0;
}

#filled_like1{
    display: none;
}

#filled_like2{
    display: none;
}

#filled_like3{
    display: none;
}

#filled_like4{
    display: none;
}

#filled_like5{
    display: none;
}

#filled_like6{
    display: none;
}

.gallery img {
    object-fit: cover;
    border: 2px solid #FCF7ED;
    width: 100%;
}

.gallery img:hover {
    border: 2px inset rgba(41, 27, 22, 0.88);
}

.bottom-photos{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.usertag{
    left: 0;
    position: absolute;
}

.desc {
    padding: 15px;
    text-align: center;
}

/* Footer style */
footer{
    background-color: #464232;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

/* links for the footer */
#links_footer_div{
    display: flex;
    flex-grow: 4;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    margin: 15px;
}

.links_footer{
    all:unset;
    color: white;
    text-decoration: underline;
    letter-spacing:1px;
    margin-top: 2px;
}

/* Icons of the footer */
#icons_footer{
    flex-grow: 4;
    padding: 5px;
    align-items: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;
}

#space{
    flex-grow: 4;
}

.fa-instagram{
    all: unset;
    color:white;
    margin-right: 8px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 25%;
    width: 17px;
    padding: 5px;
    cursor: pointer;
}

.fa-instagram:hover{
    transition: 0.5s;
    color: rgb(70, 6, 96);
    background: white;
}

.fa-facebook-f{
    all: unset;
    color:white;
    margin-left: 8px;
    margin-right: 8px;
    background: rgb(58, 58, 180);
    width: 15px;
    padding: 5px;
    padding-top: 6px;
    padding-left: 7px;
    border-radius: 25%;
    cursor: pointer;
}

.fa-facebook-f:hover{
    transition: 0.5s;
    color: rgb(58, 58, 180);
    background: white;
}

.fa-twitter{
    all: unset;
    color:white;
    margin-left: 8px;
    margin-right: 8px;
    background: rgb(63, 126, 193);
    width: 18px;
    padding: 5px;
    border-radius: 25%;
    cursor: pointer;
}

.fa-twitter:hover{
    transition: 0.5s;
    color: rgb(63, 126, 193);
    background: white;
}

.fa-pinterest-p{
    all: unset;
    color:white;
    margin-left: 8px;
    margin-right: 10px;
    background: rgb(193, 63, 63);
    width: 16px;
    padding: 5px;
    padding-top: 6px;
    padding-left: 6px;
    border-radius: 25%;
    cursor: pointer;
}

.fa-pinterest-p:hover{
    transition: 0.5s;
    color: rgb(193, 63, 63);
    background: white;
}

/* Title for the footer */
#title_footer{
    margin: 5px;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

#text_footer{
    font-family: "Abhaya Libre";
    color:white;
    font-size: 20px;
    justify-content: center;
}

@media  only screen and (max-width: 1300px){

    .gallery{
        width: 21%;
    }

}

@media  only screen and (max-width: 1000px){

    .gallery{
        width: 28%;
    }
}

@media  only screen and (max-width: 800px){

    .gallery{
        width: 43%;
    }
}

@media  only screen and (max-width: 600px){

    .gallery{
        width: 90%;
        margin-right: 7%;
        margin-left: 3%;
    }

    .gallery img{
        height: 400px;
    }
}
